.message {
  padding: 19px 60px;
  position: fixed;
  top: 20px;
  right: 105px;
  background-color: chocolate;
  border-radius: 3px;
  color: #fff;
  animation: slidein 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.message::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0px;
  height: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  animation: time 3s forwards;
}
@keyframes slidein {
  0% {
      transform: translateX(1000px);
      opacity: 0;
  }
  100% {
      transform: translateX(0);
      opacity: 1;
  }
}
@keyframes time {
  0%{
      width: 0;
  }
  100%{
      width: 100%;
  }}
