body{
    background: rgb(2, 69, 147);
}
.login-page{
    width: 560px;
    padding: 8% 0 0;
    margin: auto;
}
form{
    position: relative;
    background: #fff;
    max-width: 560px;
    margin: 0 auto;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
form input{
    font-family: "Roboto", sans-serif;
    background: #f2f2f2;
    width: 100%;
    border: 0 0 1px 0 ;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

form button{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #ffffff;
    cursor: pointer;
}
