* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Arial, sans-serif;
}

.logo {
  width: 100px;
  margin: 10px;
  border-radius: 15px;
  margin-right: auto;
  /* adicionado */
}

.menu-horizontal {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
}

.header {
  display: flex;
  align-items: center;
  background-color: rgb(2, 69, 147);
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: center;
}

.menu {
  display: flex;
  align-items: center;
}

.menu ul {
  display: flex;
  list-style: none;
  justify-content: center;
}

.menu ul li {
  margin-right: 30px;
}

.menu ul li a {
  display: block;
  text-align: center;
  background-color: rgb(2, 69, 147);
  text-decoration: none;
  font-size: 20px;
  color: rgb(255, 255, 255);
  padding: 30px;
  border-radius: 5px;
}

.menu ul li a:hover {
  background-color: rgba(31, 127, 191, 0.541);
}

.home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin: 20% auto;
}

.cardsTotais {
  display: flex;
}
/*Cores de cada card*/
.card1{
  background: linear-gradient(to right, #4d86e9b0, #e4ebff,rgb(250,193,60));
}
.card2{
  background: linear-gradient(to right, #4d86e9b0, #e4ebff,rgb(112,255,123));
}
.card3{
  background: linear-gradient(to right, #4d86e9b0, #e4ebff,rgb(210,105,204));
}
.card4{
  background: linear-gradient(to right, #4d86e9b0, #e4ebff,rgb(119, 237, 253));
}
.card1,
.card2,
.card3,
.card4 {
  background-size: 400% 100%;
  transition: all .5s ease-in-out;
  padding: 20px;
  margin: 30px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
  text-align: center;
  max-height: 100%;
  max-width: 100%;
  display: flex;
}

.card1 h2,
.card2 h2,
.card3 h2,
.card4 h2{
  text-align: center;
  padding-top: 28px;
  font-size: 24px;
}

.card1:hover,
.card2:hover,
.card3:hover,
.card4:hover {
  cursor: pointer;
  background-position: 100% 0;
  transform: scale(1.1);
  box-shadow: -6px -6px 10px rgba(0, 0, 0, 0.6);
}

.img-cards{
  width: 120px;
  height: 120px;
}