* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Arial, sans-serif;
}

.logo {
  width: 100px;
  margin: 10px;
  border-radius: 15px;
  margin-right: auto; /* adicionado */
}

.menu-horizontal {
  display: flex;
  align-items: center;
  justify-content: center; /* adicionado */
  margin-left: auto; /* adicionado */
}

.header {
  display: flex;
  align-items: center;
  background-color: rgb(2, 69, 147);
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  justify-content: center;
}

.menu {
  display: flex;
  align-items: center;
}

.menu ul {
  display: flex;
  list-style: none;
  justify-content: center;
}

.menu ul li {
  margin-right: 30px;
}

.menu ul li a {
  display: block;
  text-align: center;
  background-color: rgb(2, 69, 147);
  text-decoration: none;
  font-size: 20px;
  color: rgb(255, 255, 255);
  padding: 30px;
  border-radius: 5px;
}

.menu ul li a:hover {
  background-color: rgba(31, 127, 191, 0.541);
}

.home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin: 20% auto;
}

.card {
  background-color: white;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
}

.card p {
  text-align: center;
  padding-top: 28px;
  font-size: 24px;
}


/*///////////////////////*/
.contain-cadastro{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.form-cadastro{
  position: absolute;
  top: 50%;
  left:50% ;
  transform: translate(-50%,-50%);
  width: 400px;
  background: white;
  border-radius: 10px;
  display: none;
  
}


.form-cadastro h1{
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid silver;
}
.form-cadastro form{
  padding: 0 40px;
  box-sizing: border-box;
}
form .txt_field{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
.txt_field input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none ;
  background: none;
  outline: none;
}


button[type="submit"]{
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  margin: 30px 0 ;
}
button[type="submit"]:hover{
  border-color: #3ba0e3;
}
select{
  margin: 0px 0px 40px;
  border: 1px solid #676767;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  color: #1c96dc;

}