


/*--------Cadastro do aluno-------*/
.contain-cadastro {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  transition: 1s;
}

.cadastro-aluno, .cadastrar-livro {
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    background: white;
    border-radius: 15px;
    display: none;
    border: solid rgb(112, 112, 112) 2px;
}

.cadastro-aluno h1, .cadastrar-livro h1 {
  font-size: 30px;
  text-align: center;
  padding: 18px 0;
  border-bottom: 0.2px solid silver;
}

.cadastro-aluno form, .cadastrar-livro form {
  padding: 0px 20px;
  box-sizing: border-box;
}

.select-dinamico {
  display: flex;
  justify-content: space-between;
}

#Nivel_escolar,
#Turma_medio,
#Turma_sub {
  margin-right: 50px;
}

form .txt_field {
  position: relative;
  border-bottom: 1px solid #adadad;
  margin: 70px 0;
}

.txt_field input, #foto {
  width: 390px;
  padding: 0 10px;
  height: 30px;
  font-size: 15px;
  border: none;
  background: none;
  outline: none;
}


button[type="submit"] {
  width: 100%;
  height: 40px;
  border: solid 2px rgb(50, 102, 205);
  border-radius: 15px;
  font-size: 15px;
  color: #000000;
  cursor: pointer;
  outline: none;
  margin: 25px 0;
}

button[type="submit"]:hover {
  transition: 0.4s ease-in-out;
  background: rgb(50, 102, 205);
  color: rgb(14, 14, 17);
  border: #000000 solid 2px;
  transform: scale(1.05);
}

select {
  font-size: 13px;
  margin: 0px 0px 20px;
  border: 1px solid #676767;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  color: #1c96dc;

}

/*-------Cadastro Livro--------*/

.foto-livro{
  text-align: center;
  border-radius: 6px;
  padding-top: 20px;
  border-bottom: #adadad solid 5px;
  border-top: #adadad solid 5px;
}

.foto-livro label{
  font-size: 14px;
  margin-bottom: 10px;
}

.foto-livro div {
  text-align: center;
}

#foto-preview{
  max-width: 180px;
  max-height: 180px;
  margin-top: 12px;

}